<app-github-forkme></app-github-forkme>
<app-github-status></app-github-status>

<a href class="h1link"><h1 class="mat-display-2">FavoGit</h1></a>

<button mat-raised-button (click)="toggleFavourites()" class="favbtn">
  Favourites
</button>

<form class="form" (keydown.enter)="$event.preventDefault()">
    <mat-form-field class="field">
      <input matInput #searchBox id="search-box" autofocus placeholder="GitHub Users Name" (keydown.enter)="search(searchBox.value)">
    </mat-form-field>
</form>

<router-outlet></router-outlet>