.boxstatus {
    text-decoration: none;
}
.status {
    display: inline;
    font-family: "Inter UI";
    font-weight: bold;
    color: white;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.label {
    padding-right: 5px;
}